@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* Neutral */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* Graphic design text */
  --dark-cyan: hsl(167, 40%, 24%);
  /* Photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* Footer */
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --v-dark-blue: hsl(212, 27%, 19%);
  --v-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

/* Page container */

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */

.navbar {
  background-color: #3ebfff;
  width: 100vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: white;
  font: "Barlow";
}

.menu-item {
  font-family: "Barlow";
}

.contact-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
}

/* Refactor this */
.responsive-image {
  width: 100%;
}

/* Header image with arrow */

.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-text {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.header-text img {
  width: 20px;
  margin-top: 3rem;
}

.header-text h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: bold;
}

/* Responsive two column section */

.two-column {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
}

/* Text column */

.text-column {
  width: 50%;
  text-align: center;
}

.text-column * {
  margin: 1rem;
}

.text-column h2 {
  font-size: 2rem;
}

.text-column p {
  font-family: "Barlow";
}

.text-column button {
  background-color: white;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid green;
  /* Fix border */
}

/* Image column */

.image-column {
  width: 50%;
}

.image-column img {
  width: 100%;
}

/* Desktop */
@media only screen and (min-width: 750px) {
  .mobile {
    display: none;
  }

  .text-column {
    text-align: left;
  }
}

/* Mobile */
@media only screen and (max-width: 750px) {
  .desktop {
    display: none;
  }

  .two-column {
    flex-direction: column-reverse;
  }

  .image-column,
  .text-column {
    width: 100%;
  }
}
