main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "image1" "text1" "image2" "text2" "ta1" "ta2";

  .text-content1 {
    grid-area: text1;
  }

  .text-content2 {
    grid-area: text2;
  }

  .image1 {
    grid-area: image1;
  }

  .image2 {
    grid-area: image2;
  }

  .text-image1 {
    grid-area: ta1;
  }

  .text-image2 {
    grid-area: ta2;
  }

  .text-image1,
  .text-image2 {
    position: relative;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text1 image1"
      "image2 text2"
      "ta1 ta2";
  }

  .desktop {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  .mobile {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .image-text {
    position: absolute;
    bottom: 0;
  }
}
