.navbar-container {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem;
  @include flex(row, center, space-between);

  .hamburger {
    display: block;
    width: 1.5rem;
  }

  @include screen-md {
    .hamburger {
      display: none;
    }
  }

  .desktop-menu {
    display: none;

    @include screen-md {
      @include flex(row, center, space-between);
      gap: 2rem;
      color: $white;
    }

    button {
      border: none;
      cursor: pointer;
      background-color: $white;
      border-radius: 2rem;
      padding: 1rem 2rem;
      font-size: 0.85rem;
    }

    p {
      cursor: pointer;
    }
  }
}
