@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import "header";
@import "navbar";
@import "variables";
@import "main-content";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

img {
  width: 100%;
  max-width: 100%;
}
