@import "mixins";
@import "variables";
@import "header";
@import "navbar";
@import "main-content";
@import "testimonials";
@import "image-grid";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
button {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}
